<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>장독대 필름</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/js/header.js"></script>

    <style>
        /* 프로필 이미지 스타일 */
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .nav {
            --bs-nav-tabs-border-width: 0px;
            --bs-nav-tabs-link-active-border-color: #000;
            border-bottom: 1px solid var(--bs-nav-tabs-border-color);
        }

        .nav-link,
        .nav-link:hover,
        .nav-link:focus {
            color: gray;
        }

        .nav .nav-link.active,
        .nav .nav-item.show .nav-link {
            border-bottom: 2px solid black;
            color: black;
            font-weight: bold;
        }

    </style>

    <script>
        $(document).ready(function () {
            // 닉네임 중복 확인
            let confirmName = false;
            $("#confirmName").on("click", function () {
                const name = $("#user-name").val();
                $.ajax({
                    type: "get",
                    url: "/confirmName",
                    data: {name: name},
                    success: function (data) {
                        if (data === 1) {
                            $("#nameCheckMessage").text("이미 존재하는 닉네임입니다..");
                        } else {
                            $("#nameCheckMessage").text("사용 가능한 닉네임입니다.");
                            $("#confirmName").attr("type", "submit");
                            confirmName = true;
                        }
                    },
                    error: function () {
                        alert("통신 실패");
                    }
                })
            })

            let confirmPw = false;
            let nowPwCheck = false;
            let pwCheck = false;
            let newPwCheck = false;
            let userNameCheck = false;
            let same = false;

            // 수정 및 유효성 검증
            $("#change").on("click", function () {
                const pw = $("#user-pw").val();
                const userPw = $("#user-pw").val();
                const newPw = $("#user-new-pw").val();
                const pwck = $("#user-pw-check").val();
                const userName = $("#user-name").val();
                const userNewName = $("#user-new-name").val();
                $.ajax({
                    type: "get",
                    url: "/confirmPw",
                    data: {pw: pw},
                    success: function (data) {
                        if (data === 1) {
                            confirmPw = true;
                            if (userPw == null || userPw == "") {
                                alert("기존 비밀번호를 입력하세요");
                                return;
                            } else {
                                nowPwCheck = true;
                            }

                            if (newPw == null || newPw == "") {
                                alert("새 비밀번호를 입력하세요")
                                return;
                            } else {
                                pwCheck = true;
                            }

                            if (pwck == null || pwck == "") {
                                alert("새 비밀번호를 한번 더 입력하세요");
                                return;
                            } else {
                                newPwCheck = true;
                            }

                            if (newPw != pwck) {
                                alert("비밀번호가 일치하지 않습니다.");
                                return;
                            } else {
                                same = true;
                            }

                            if ((confirmPw && nowPwCheck && pwCheck && newPwCheck && same && confirmName) || (confirmPw && nowPwCheck && pwCheck && newPwCheck && same) || (confirmPw && nowPwCheck && confirmName)) {
                                const pw = $("#user-new-pw").val();
                                const userName = $("#user-name").val();
                                const id = $("#id").val();
                                $.ajax({
                                    url: 'myPage/' + id,
                                    type: 'POST',
                                    data: {
                                        pw: pw,
                                        name: userName
                                    },
                                    success: function (data) {
                                        alert(data)
                                        if (data == "success") {
                                            location.reload();
                                        }
                                    },
                                    error: function () {
                                        alert("변경 실패")
                                    }
                                })
                                form.submit();
                            } else {
                            }

                        } else {
                            alert("기존 비밀번호와 다릅니다.");
                        }
                    },
                    error: function () {
                        alert("현재 비밀번호를 입력하세요");
                    }
                })
            })

            $("i").on("click", function () {
                const id = $(this).attr('id').slice(0, -1);
                const data = {idx: id}

                if ($(this).hasClass("bi-heart") === true) {
                    $.ajax({
                        url: "/movie/recoms/like",
                        type: "GET",
                        data: data,
                        success: (result) => {
                            if (result == 1) {
                                $.ajax({
                                    url: "/movie/recoms/like",
                                    type: "PUT",
                                    data: data,
                                    success: () => {
                                        $(this).removeClass("bi-heart").addClass("bi-heart-fill");
                                    },
                                    error: () => {
                                    }
                                });
                            } else {
                                $.ajax({
                                    url: "/movie/recoms/like",
                                    type: "POST",
                                    data: data,
                                    success: () => {
                                        $(this).removeClass("bi-heart").addClass("bi-heart-fill");
                                    },
                                    error: () => {
                                    }
                                });
                            }
                        },
                        error: () => {
                        }
                    });
                } else {
                    //제거 update
                    $.ajax({
                        url: "/movie/recoms/like",
                        type: "DELETE",
                        data: data,
                        success: () => {
                            $(this).removeClass("bi-heart-fill").addClass("bi-heart");
                        },
                        error: () => {
                        }
                    });
                }

            });

            $(document).on("click", "#my-page-movie img", function () {

                location.href = "/movie/recom/" + $(this).attr('id');
            });

            $("#image-file").on("change", function (event) {

                var file = event.target.files[0];

                var reader = new FileReader();
                reader.onload = function (e) {

                    $("#preview").attr("src", e.target.result);
                }

                reader.readAsDataURL(file);
            });

            // 일괄 삭제
            $("#delete").on("click", function () {
                var checkArr = [];     // 배열 초기화
                $("input[name='deleteCheck']:checked").each(function (i) {
                    checkArr.push($(this).val());     // 체크된 것만 값을 뽑아서 배열에 push
                })
                $.ajax({
                    url: 'qnaList',
                    type: 'DELETE',
                    data: {
                        valueArrTest: checkArr
                    },
                    success: function (data) {
                        alert(data);
                        if (data == "success") {
                            location.reload();
                        }
                    },
                    error: function () {
                        alert("삭제 실패")
                    }
                });
            });

            function pagination(num) {
                $.ajax({
                    url: "/qnaList",
                    type: "GET",
                    data: {pageNum: num},
                    success: function (data) {

                        if (data.size > 0) {
                            const tbody = $('#my-page-qna #tbody');
                            const userName = $('#my-name').text();
                            const grade = $('#my-grade').val();

                            tbody.empty();
                            const qna = data.list;
                            let tag = "";
                            for (let i = 0; i < qna.length; i++) {
                                tag += "<tr>";
                                tag += "<td>" + qna[i].idx + "</td>";
                                tag += "<td class='text-start'><a ";
                                if ((grade == '1') || (userName == qna[i].userName)) {
                                    tag += "href='/qna/" + qna[i].idx + "' ";
                                    tag += "class='text-decoration-none'>" + qna[i].title + "</a></td>";
                                } else {
                                    tag += "class='text-black text-decoration-none'>" + qna[i].title + "</a></td>";
                                }
                                tag += "<td>" + qna[i].userName + "</td>";
                                tag += "<td>" + qna[i].createDt + "</td>";
                                if (grade == '1') {
                                    tag += "<td><input class='form-check-input' type='checkbox' value='" + qna[i].idx + "' name='deleteCheck'></td>";
                                }
                                tag += "</tr>";
                            }

                            tbody.append(tag);


                            // pagination 이 적용된 ul 태그 찾기
                            const tagPagination = $("#paginationAjax");

                            // 기존 자식 태그 삭제
                            tagPagination.empty();

                            // 이전 페이지 버튼 생성
                            const tagPageBtnPrev = $("<li class=\"page-item\"></li>");
                            // 이전 페이지 번호가 0이면 qnaabled 클래스 추가, 아니면 qnaabled 클래스 삭제
                            data.prePage == 0 ? tagPageBtnPrev.addClass("qnaabled") : tagPageBtnPrev.removeClass("qnaabled");
                            // a 태그 추가 및 클릭 이벤트 추가
                            const tagPageBtnPrevLink = $("<a class=\"page-link\" onclick='pagination(" + data.prePage + ")'>&laquo;</a>");
                            tagPageBtnPrev.append(tagPageBtnPrevLink);
                            tagPagination.append(tagPageBtnPrev);

                            // 페이지 번호 버튼 생성
                            for (let i = 0; i < data.navigatepageNums.length; i++) {
                                const tagPageBtnNum = $('<li class="page-item"></li>');
                                // 현재 페이지 번호와 페이지버튼의 값이 같으면 active 클래스 추가, 아니면 active 클래스 삭제
                                data.pageNum == data.navigatepageNums[i] ? tagPageBtnNum.addClass("active") : tagPageBtnNum.removeClass("active");

                                // a 태그 추가 및 클릭 이벤트 추가
                                const tagPageBtnNumLink = $('<a class="page-link" onclick="pagination(' + data.navigatepageNums[i] + ')"></a>');
                                tagPageBtnNumLink.append(data.navigatepageNums[i]);

                                // li 태그에 a 태그를 자식 태그로 추가
                                tagPageBtnNum.append(tagPageBtnNumLink);
                                // ul 태그에 li 태그를 자식 태그로 추가
                                tagPagination.append(tagPageBtnNum);
                            }

                            // 다음 페이지 버튼 생성
                            const tagPageBtnNext = $("<li class=\"page-item\"></li>");
                            data.nextPage == 0 ? tagPageBtnNext.addClass("qnaabled") : tagPageBtnNext.removeClass("qnaabled");
                            const tagPageBtnNextLink = $('<a class="page-link" onclick="pagination(' + data.nextPage + ')">&raquo;</a>');
                            tagPageBtnNext.append(tagPageBtnNextLink);
                            tagPagination.append(tagPageBtnNext);
                        }
                    },
                    error: function () {
                        alert("pagination");
                    }
                });
            }

            pagination(1);
        });
    </script>

</head>
<body>
<header th:replace="~{layout/header :: header-basic}"></header>
<main class="container">
    <!--  사이드 바-->
    <div class="row">
        <div class="col-sm-2 mt-5 pt-5">
            <div class="mt-5">
                <!--프로필 이미지-->
                <div class="box mx-auto" style="background: #BDBDBD;">
                    <a href="#"><img class="profile" src="/images/squirrel.jpg"
                                     th:src="|/member/${session.imgUrl}|"></a>
                </div>
                <div>
                    <h6 id="my-name" class="my-3 px-2 text-center text-secondary fw-bold"
                        th:text="${session.userName}"></a></h6>
                    <input id="my-grade" type="hidden" th:value="${session.grade}">
                </div>

                <!--       내가 쓴 글/댓글 탭 바-->
                <ul class="nav flex-column text-center" id="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#my-page-board" data-bs-toggle="tab">내 커뮤니티 글</a>
                    </li>

                    <!--       나만의 영화공간 탭 바-->
                    <li class="nav-item">
                        <a class="nav-link" href="#my-page-movie" data-bs-toggle="tab">나만의 영화공간</a>
                    </li>
                    <!--          문의하기 탭 바-->
                    <li class="nav-item">
                        <a class="nav-link" href="#my-page-qna" data-bs-toggle="tab">문의사항</a>
                    </li>
                    <!--  정보수정 모달 창  -->
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary mt-4"
                                data-bs-toggle="modal" data-bs-target="#changeModal">내 정보 수정
                        </button>
                    </li>
                    <div class="modal fade" id="changeModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title">회원정보 수정</h1>
                                </div>
                                <div class="modal-body">
                                    <form action="/member/updateImg" method="post" enctype="multipart/form-data">
                                        <div class="col-sm form-floating">
                                            <div class="box mx-auto" style="background: #BDBDBD;">
                                                <label for="image-file" class="w-100 h-100">
                                                    <img id="preview" src="" alt="" class="img-fluid"
                                                         th:src="|/member/${session.imgUrl}|">
                                                </label>
                                            </div>
                                            <input type="file" id="image-file" name="imageFile" accept="image/*"
                                                   class="invisible">
                                            <button type="submit" class="btn btn-primary">사진 변경</button>
                                            <div>
                                                <h6 class=" px-2 text-center text-secondary fw-bold"
                                                    th:text="${session.userName}"></h6>
                                                <input type="hidden" id="id" th:value="${session.id}">
                                            </div>
                                            <input type="hidden" name="memberId" id="memberId"
                                                   value="${login.memberId}">
                                            <div class="input-group">
                                                <span class="input-group-text fw-bold">PW 변경</span>
                                            </div>
                                            <div class="col-sm form-floating">
                                                <input type="text" class="form-control" id="user-pw" name="userPw"
                                                       placeholder="비밀번호">
                                                <label for="user-pw">기존 비밀번호를 입력(필수)</label>
                                            </div>
                                            <div class="col-sm form-floating">
                                                <input type="text" class="form-control" id="user-new-pw"
                                                       name="userNewPw" placeholder="비밀번호">
                                                <label for="user-pw">새 비밀번호를 입력(선택)</label>
                                            </div>
                                        </div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="user-pw-check"
                                                   name="userPwCheck"
                                                   placeholder="비밀번호 확인">
                                            <label for="user-pw-check">새 비밀번호를 한번 더 입력</label>
                                        </div>

                                        <div class="col-sm form-floating  my-4">
                                            <div class="input-group">
                                                <span class="input-group-text fw-bold">닉네임 변경</span>
                                            </div>
                                            <div class="col-sm form-floating text-start">
                                                <input type="text" class="form-control" id="user-name" name="userName"
                                                       placeholder="닉네임">
                                                <label for="user-name">새 닉네임을 입력(선택)</label>

                                                <button type="button" class="btn btn-outline-success mt-2"
                                                        id="confirmName">중복확인
                                                </button>
                                                <span id="nameCheckMessage"></span>
                                            </div>
                                        </div>
                                        <div class="d-grid gap-3">
                                            <button type="button" class=" btn btn-primary fw-bold p-2 d-grid gap-3">
                                                수정하기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </ul>
            </div>

        </div>

        <!--   내 커뮤니티 글(탭바)-->
        <div class="col-sm p-3">
            <div class="tab-content">
                <div id="my-page-board" class="tab-pane active">
                    <div th:replace="~{mypage/myBoard :: myBoard}"/>
                </div>
                <div id="my-page-movie" class="tab-pane">
                    <div th:replace="~{mypage/myMovie :: myMovie}"/>
                </div>
                <div id="my-page-qna" class="tab-pane">
                    <div th:replace="~{mypage/myQna :: myQna}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    </div>
</main>

<footer th:replace="~{layout/footer :: footer-basic}"></footer>
</body>
</html>