
<body>
<!--      댓글 구현 부분-->
<!--<div th:fragment="comment">-->
<!--    <form method="post" th:if="${session.idx} == ${commentList.freeIdx}" th:each="comment : ${commentList}">-->
<!--        <div class="row my-3">-->
<!--            <div class="col-sm-2 d-flex justify-content-start">-->
<!--                <p class="text-body-secondary text-opacity-25 fw-bolder fs-6 mx-0 my-2">댓글</p>-->
<!--            </div>-->
<!--            <div class="col-sm d-flex justify-content-end py-2">-->
<!--                <a class="btn m-0 p-0" href="#comment" aria-label="pensil">-->
<!--                    &lt;!&ndash;          icon&ndash;&gt;-->
<!--                    <i class="bi bi-pencil-fill"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row my-3 bg-secondary bg-opacity-25 rounded-1">-->
<!--            <div class="justify-content-start my-2 row">-->
<!--                <div class="col-sm-3 my-2">-->
<!--                    <span>댓글 id</span>-->
<!--                    <input type="text" class="form-control-plaintext bg-white rounded-1">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="justify-content-end my-2 row">-->
<!--                <div class="col-sm-3 my-2">-->
<!--                    <span class="text-end">나</span>-->
<!--                    <input type="text" class="form-control-plaintext bg-white rounded-1" >-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="input-group mb-3" id="comment">-->
<!--                <input type="text" class="form-control border-secondary" placeholder="Input Comment" aria-label="Recipient's username" aria-describedby="button-addon2">-->
<!--                <button class="btn btn-outline-secondary bg-white" type="button" id="button-addon2">input</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</div>
</body>
</html>