
<body>
<header th:fragment="header-basic">
    <nav class="navbar bg-light p-3">
        <div class="container d-flex">
            <a class="navbar-brand" href="/main" id="btnHome">장독대</a>
            <div class="navbar-nav flex-row">
                <a href="/recommend" class="nav-link me-3">나만의 추천작</a>
                <a href="/freeList" class="nav-link me-3">자유게시판</a>
                <a href="/nowList" class="nav-link me-3">개봉작 수다</a>
                <a href="/disList" class="nav-link me-3">할인 정보</a>
                <a href="/movie/category" class="nav-link me-3">연도/장르별 검색</a>
            </div>
            <div class="d-flex mx-3">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="검색어를 입력해주세요." id="keyword" style="width: 20em;">
                    <div class="input-group-append">
                        <button type="button" class="input-group-text" id="btn-search"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div th:if="${session.id == null}">
                <a class="btn btn-outline-dark me-2" href="/login">로그인</a>
                <a class="btn btn-outline-secondary" href="/signUp">회원가입</a>
            </div>
            <div th:unless="${session.id == null}">
                <a class="text-decoration-none mx-3" href="/myPage">
                    <span th:text="${session.userName}"></span> 님</a>
                <a class="btn btn-outline-danger" href="/logout">로그아웃</a>
            </div>
        </div>
    </nav>
</header>
</body>
<!--</html>-->
