<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>영화 리뷰 조회</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/js/header.js"></script>

  <script th:inline="javascript">

    $(document).ready(function () {
      $("#btnBack").on("click", function () {
        history.back();
      });

      $(".like-click").on("click", function () {
        const likeIcon = $(this);
        // hidden input value 값 = 해당 리뷰 글번호
        let reviewIdx = likeIcon.prev().val();

        if (likeIcon.children('i').attr('class') === 'bi bi-hand-thumbs-up') {
          $.ajax({
            url: '/saveLike',
            type: 'GET',
            data: {reviewIdx: reviewIdx},
            success: function (data) {
              let likeCnt = data.likeCnt;
              $("#like" + reviewIdx).text(likeCnt);
            },
            error: function () {
              alert("통신 실패");
            }
          })
          // ajax 통신 후 꽉 찬 아이콘으로 변경
          likeIcon.html("<i class='bi bi-hand-thumbs-up-fill'></i>");
        } else if (likeIcon.children('i').attr('class') === 'bi bi-hand-thumbs-up-fill') {
          $.ajax({
            url: '/removeLike',
            type: 'GET',
            data: {reviewIdx: reviewIdx},
            success: function (data) {
              let likeCnt = data.likeCnt;
              $("#like" + reviewIdx).text(likeCnt);
            },
            error: function () {
              alert("통신 실패");
            }
          })
          // ajax 통신 후 빈 아이콘으로 변경
          likeIcon.html("<i class='bi bi-hand-thumbs-up'></i>");
        }
      });

      $("#btn-update").on("click", function () {
        $("#method_put").val("PUT")
        const frm = $("#frm-put")[0]
        frm.action = "/updateMovieReview";
        frm.submit()
      });

      $("#btn-delete").on("click", function () {
        const answer = confirm("정말 삭제하시겠습니까?")
        if (answer) {
          const idx = $("#idx").val();
          $("#method").val("DELETE");
          const frm = $("#frm")[0];
          frm.action = "/deleteMovieReview/" + idx;
          frm.submit();
        }
      });

      $(".btn-admin-delete").on("click", function () {
        const deleteBtn = $(this);
        const idx = deleteBtn.prev().val();

        const answer = confirm("정말 삭제하시겠습니까?")
        if (answer) {
          $("#method").val("DELETE");
          const frm = $("#frm")[0];
          frm.action = "/deleteMovieReview/" + idx;
          frm.submit();
        }
      });
    });
  </script>

</head>
<body>
<header th:replace="~{layout/header :: header-basic}"></header>
<main class="container my-4">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <div class="d-flex justify-content-between my-4">
        <h1 th:text="|${reviewList.get(0).movieTitle} 리뷰|">xxx 영화 리뷰</h1>
        <a class="btn btn-secondary align-self-center" id="btnBack">이전 페이지로</a>
      </div>
      <div class="my-review card text-bg-light my-3" th:if="${myReview} != null">
        <form id="frm" method="post">
          <div class="card-header">내가 쓴 영화 리뷰</div>
          <div class="card-body">
            <p class="card-text mb-1" th:text="${myReview.content}">내가 쓴 영화 리뷰 내용</p>
            <span class="card-text" th:text="|내 평점 : ${myReview.userScore}|">유저 평점</span>
            <div class="text-end">
              <span><i class="bi bi-hand-thumbs-up-fill"></i></span>
              <span class="me-2" th:text="${myReview.getLikeCnt}">12</span>
              <!-- 내가 쓴 리뷰 수정 -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#reviewEditModal">수정
              </button>
              <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
            </div>
          </div>
          <input type="hidden" name="movieId" th:value="${myReview.movieId}">
          <input type="hidden" name="movieTitle" th:value="${myReview.movieTitle}">
          <input type="hidden" id="idx" name="idx" th:value="${myReview.idx}">
          <input type="hidden" id="method" name="_method">
        </form>
      </div>
      <!-- 수정시 form 태그를 쓰기 위해 모달창 태그 위치 변경 -->
      <form id="frm-put" method="post" th:if="${myReview} != null">
        <div class="modal fade" id="reviewEditModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" th:text="${myReview.movieTitle}">영화이름</h1>
              </div>
              <div class="modal-body">
              <textarea class="form-control" rows="10" name="content" th:text="${myReview.content}"
                        placeholder="영화 리뷰를 작성해주세요"></textarea>
                <input type="range" class="form-range mt-2" step="1" min="1" max="10"
                       th:value="${myReview.userScore}" name="userScore">
                <input type="hidden" name="idx" th:value="${myReview.idx}">
                <input type="hidden" name="movieId" th:value="${myReview.movieId}">
                <input type="hidden" name="movieTitle" th:value="${myReview.movieTitle}">
                <input type="hidden" name="createDt" th:value="${myReview.createDt}">
                <input type="hidden" name="memberId" th:value="${session.id}">
                <input type="hidden" name="userName" th:value="${session.userName}">
                <div class="text-end">
                  <button type="button" class="btn btn-primary" id="btn-update">등록</button>
                </div>
                <input type="hidden" id="method_put" name="_method">
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="my-4" id="other-reviews">
        <div class="card my-3" th:each="reveiw: ${reviewList}">
          <input type="hidden" th:value="reveiw.movieTitle">
          <input type="hidden" th:value="reveiw.movieId">
          <div class="card-header" th:text="${reveiw.userName}"></div>
          <div class="card-body">
            <span class="card-text" th:text="${reveiw.content}">영화 리뷰 내용</span>
            <br>
            <div class="d-flex my-2">
              <span class="card-text me-auto" th:text="|사용자 평점 : ${reveiw.userScore}|">유저 평점</span>
              <!-- 로그인 상태 -->
              <div th:if="${session.id} != null">
                <input type="hidden" th:value="${reveiw.idx}">
                <a class="me-2 like-click" th:if="${reveiw.reviewLikeCheck} == 1"><i
                    class="bi bi-hand-thumbs-up-fill"></i></a>
                <a class="me-2 like-click" th:if="${reveiw.reviewLikeCheck} == 0"><i
                    class="bi bi-hand-thumbs-up"></i></a>

              </div>
              <!--로그인 상태가 아닐 경우 클릭 이벤트 없음-->
              <div th:unless="${session.id} != null">
                <span class="me-2"><i class="bi bi-hand-thumbs-up-fill"></i></span>
              </div>
              <span class="me-2" th:id="|like${reveiw.idx}|" th:text="${reveiw.likeCnt}">32</span>
            </div>
          </div>
<!--          관리자 로그인 시 모든 리뷰 삭제 -->
          <div class="card-footer text-end" th:if="${session.grade} == 1">
            <form id="frm-admin-delete" method="post">
              <input type="hidden" id="method-admin-delete" name="_method">
              <input type="hidden" name="movieId" th:value="${reveiw.movieId}">
              <input type="hidden" name="idx" th:value="${reveiw.idx}">
              <button type="button" class="btn btn-danger btn-admin-delete">관리자 삭제</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</main>
<footer></footer>
</body>
</html>