<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장독대 필름 로그인</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/js/header.js"></script>
  <style>

  </style>

  <script>
    $(document).ready(function () {
      $("#login").on("click", function () {
        let idCheck = false;
        let pwCheck = false;

        const id = $("#user-id").val();
        const pw = $("#user-pw").val();

        if (id == null || id == "") {
          alert("아이디를 입력하세요");
          return;
        }
        else {
          idCheck = true;
        }

        if (pw == null || pw == "") {
          alert("비밀번호를 입력하세요");
          return;
        }
        else {
          pwCheck = true;
        }

        if (idCheck && pwCheck) {
          const form = $("#form")[0];
          form.submit();
        }
        else {
          alert("회원가입 시 오류가 있습니다.");
        }
      })
    })

  </script>
</head>

<body>
<header th:replace="~{layout/header :: header-basic}"></header>

<main class="container my-4 p-0"><br><br>
  <div class="row my-5">
    <div class="col-sm-4 mx-auto">
      <h1 class="text-center">로그인</h1>
      <form action="/loginProcess" method="post" id="form">

        <div class="col-sm form-floating my-4">
          <div class="input-group">
            <span class="input-group-text fw-bold">ID</span>
          </div>
          <div class="col-sm form-floating">
            <input type="text" class="form-control" id="user-id" name="id" placeholder="ID">
            <label for="user-id">아이디를 입력하세요</label>
          </div>
        </div>

        <div class="col-sm form-floating">
          <div class="input-group">
            <span class="input-group-text fw-bold">PW</span>
          </div>
          <div class="col-sm form-floating">
            <input type="password" class="form-control" id="user-pw" name="pw" placeholder="비밀번호">
            <label for="user-pw">비밀번호를 입력하세요</label>
          </div>
        </div>

        <div class="my-4 d-grid gap-3">
          <button type="button" class="fw-bold btn p-2 btn-outline-dark" id="login">로그인</button>
          <a href="/signUp" class="fw-bold btn p-2 d-grid gap-3 btn-outline-secondary">회원가입하기</a>
        </div>
      </form>
    </div>
  </div>
  </div>
</main>
<footer th:replace="~{layout/footer :: footer-basic}"></footer>
</body>
</html>